<div class="svh margins" style="text-align: center; justify-content: flex-start; flex-direction: column;">
    <div *ngIf="Auto['estado']=='Reservado'" style="background-color: steelblue; color: aliceblue; border-top-left-radius: 12px; border-top-right-radius: 12px; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; margin-bottom: 1%;">{{Auto['estado']}}</div>
    <div *ngIf="Auto['estado']=='Vendido'" style="background-color:limegreen; color: aliceblue; border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; border-top-left-radius: 12px; border-top-right-radius: 12px; margin-bottom: 1%;">{{Auto['estado']}}</div>
    <div class="autoRes" style="display: flex; flex-direction: row; width: 100%;">
        <div style="width: 60%;">
            <div class="rounded" [ngStyle]="{'background-image': 'url(' + imagen.link + ')'}" (click)="verImagen(imagen.id)"
            style="width: 100%; background-repeat: no-repeat; background-size: cover; max-width:100%; max-height:100%; height: 30rem; background-position: center center; cursor: pointer;" ></div>
            <div class="border rounded glassW" style="overflow-x: auto; overflow-y: hidden; white-space: nowrap; margin-top: 1%; padding-top: 1%;">
                <ng-container *ngFor="let src of imagenes">
                    <img class="rounded" id=foto{{src.id}} src="{{src.link}}" alt="" style="width: 6rem; cursor: pointer; margin-left: 1%; margin-right: 1%;" (click)="imagen=src">
                </ng-container>
            </div>
        </div>
        <div class="border rounded glassW" style="width: 40%; display: flex; flex-direction: column; justify-content: space-around; margin-left: 2%;">
            <span style="border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-bottom: 2%; display: flex; padding: 4%; padding-right: 4%; height: 100%; align-items: center; 
            font-weight: bold; font-size: xx-large;">
                {{Auto['marca']+' '+Auto['modelo']+' '+Auto['version']}}
            </span>
            <span style="border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-bottom: 2%; display: flex; margin-left: 4%; margin-right: 4%; height: 100%; align-items: center;">
                {{Auto['ano']+' | '+Auto['kms']+' km'}}
            </span>
            <span style="border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-bottom: 2%; display: flex; margin-left: 4%; margin-right: 4%; height: 100%; align-items: flex-start; flex-direction: column; justify-content: center;">
                <span style="text-decoration: underline; margin-right: 2%;" class="textRed">Precio:</span>
                <span style="font-weight: bold; font-size: xx-large;">{{Auto['moneda']+' $ '+Auto['precio']}}</span>
            </span>
            <span style="border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-bottom: 2%; display: flex; margin-left: 4%; margin-right: 4%; height: 100%; justify-content: center; 
            flex-direction: column; align-items: flex-start;">
                <span style="text-decoration: underline; margin-right: 2%;" class="textRed">Transmision:</span>{{Auto['transmision']}}
            </span>
            <span style="border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-bottom: 2%; display: flex; margin-left: 4%; margin-right: 4%; height: 100%; justify-content: center; 
            flex-direction: column; align-items: flex-start;">
                <span style="text-decoration: underline; margin-right: 2%;" class="textRed">Traccion:</span>{{Auto['traccion']}}
            </span>
            <span style="margin-bottom: 2%; display: flex; margin-left: 4%; margin-right: 4%; height: 100%; justify-content: center; 
            flex-direction: column; align-items: flex-start;">
                <span style="text-decoration: underline; margin-right: 2%;" class="textRed">Ubicacion:</span>{{Auto['ubicacion']}}
            </span>
        </div>
    </div>
    <div *ngIf="infoBasicaFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">Informacion basica</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of infoBasica">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="exteriorFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">Exterior</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of exterior">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="comfortFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">Comfort</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of comfort">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="seguridadFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">Seguridad</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of seguridad">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="interiorFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">interior</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of interior">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="entretenimientoFlag" class="border rounded glassW" style="margin-top: 2%;">
        <h1 style="text-decoration: underline;" class="textBlue">entretenimiento</h1>
        <div style="display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; ">
            <ng-container *ngFor="let i of entretenimiento">
                <div *ngIf="Auto[i[0]]" style="display: flex; align-items: center; text-align: left; flex-direction: column; width: 15rem; border-bottom: 1px solid rgb(233, 69, 96, 0.2); margin-right: 2%; margin-bottom:2%;">
                    <span style="text-decoration: underline; margin-right: 2%; width: 100%;" class="textRed">{{i[1]}}:</span>
                    <span style="width: 100%;">{{Auto[i[0]]==true ? 'Si' : Auto[i[0]]==false ? 'No' : Auto[i[0]]}}</span>    
                </div>
            </ng-container>
        </div>
    </div>
</div>

<app-ver-imagen [ngClass]="{ 'oculto':!verImg }" (messageEvent)="handleMessage($event,'crear')" [imagenes]="imagenes" [imagen]="imgID" [verImg]="verImg"></app-ver-imagen>