.celda{
    border-right: 1px solid rgb(15, 52, 96, 0.2); 
    border-color: rgb(15, 52, 96, 0.2) !important;
    width: 16%;
    padding: 1%;
    font-family: Avenir;
    i{
        margin-right: 2%;
    }
}
.linea{
    &:hover{
        background-color: rgba(238, 34, 34, 0.2);
        /* cursor: pointer; */
    }
    transition: all 0.5s linear;
}
.load{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-around;
}
.paginacion{
    height: 2rem;
    width: 6rem;
    font-size: medium;
}
.ibtn{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 2rem;
    &:hover{
        cursor: pointer;
    }
}
.tooltip {
    position: relative;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0.25em 0.5em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    top: -60%;
    left: -30%;
    transition-property: visibility;
    transition-delay: 0s;
    font-family: 'avenir';
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    margin-top: 7rem;
    padding: 1%;
    border: 1px solid var(--amarello);
    width: 80%;
}

.icerrar{
    color: var(--blue3);
    &:hover{
        cursor: pointer;
        color: var(--red);
    }
}

.borderAbajo{
    border-bottom: 1px solid rgb(15, 52, 96, 0.2); 
}
.marginCerrar{
    margin-right: 5rem;
    @media (max-width: 1000px) {
         margin-right: 2rem;
    }
}
.h1btn{
    &:hover{
        color: var(--red);
        cursor: pointer;
    }
}
.h1btn2{
    color: var(--red);
    text-decoration: underline;
}
.none2{
    transform: scale3d(1, 0, 1);
    visibility: hidden;
    opacity: 0;
}
.modalRes{
    @media (max-width: 600px){
        width: 90% !important;
    }
}
.filtro{
    /* padding-right: 2rem; */
    width: 100%;
    height: 2rem;
    display: none;
    @media (max-width: 700px){
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.filtroRes{
    @media (max-width: 700px){
        display: none !important;
    }
}
.menu{
    font-family: Avenir;
    transform: scale3d(1, 1, 1);
    transform-origin: top;
    transition: all 0.3s ease-in;
    min-height: 100%;
    position: absolute;
    color: var(--blue1);
    top: 6.5%;
    /* top: 23.5%; */
    /* background-color: var(--color1D); */
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    div{
        @media (max-width: 380px){
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }
}
.none{
    transform: scale3d(1, 0, 1);
    visibility: hidden;
    opacity: 0;
}