<div class="svh" style="flex-direction: column;">
    <div class="inicio foto">
        <p style="display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;">
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Bienvenido a SALE Tu Auto.</span>
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Cotizamos tu auto usado!!</span>
            <span style="font-weight: 100;" class="textS">Vende al mejor precio y no te apresures. SALE Tu Auto te acerca la mejor cotización por tu vehículo.</span>
        </p>
    </div>
    <div class="shadow"></div>
    <app-venta-rapida></app-venta-rapida>
    <div class="glass1" style="min-height: 90vh; width: 100%; display: flex; align-items: center;">
        <div class="margin5" style="width: 100%; text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="textRed titulo" style="font-weight: bold; text-transform: uppercase; font-size: xxx-large; margin-bottom: 5rem;">La empresa</div>
            <div style="display: flex; font-size: larger;" class="textWhite text">
                <div class="empresaRes" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;">
                        SALE Tu Auto es una empresa 100% Argentina que fue creada para asistir a dueños directos; a empresas con flota propia; 
                        a organismos Gubernamentales y al mercado asegurador. 
                        <br><br>
                        <span style="font-weight: bold;">El mejor precio para tu auto usado.</span>
                </div>
                <div class="empresaRes borderL" style="display: flex; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;">
                    SALE Tu Auto llegó para aportar valor agregado mas todos los servicios asociados a la gestión de la venta.
                    <br><br>
                    SALE Tu Auto NO compra los autos ya que esta comprobado que esta acción disminuye el precio de la oferta por Tu Auto.
                </div>
                <div class="empresaRes borderL" style="display: flex; flex-direction: column; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;">
                    SALE Tu Auto te acerca las mejores ofertas del mercado para que tomes una mejor decisión y obtengas más dinero por TU Auto.
                    <br>
                    En solo 2 pasos te acercamos un comprador directo y sin intermediarios.
                    <br>
                    1- Pásanos los datos de tu vehículo y 7 fotos.
                    <br>
                    2- Te acercamos la oferta y si aceptas gestionamos el ingreso del dinero en tu cuenta.    
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%;">
    <div class="margin5 seccion">
        <div class="textRed titulo" style="font-weight: bold; text-transform: uppercase; font-size: xxx-large; margin-bottom: 5rem;">Comunícate con nosotros</div>
        <div class="wsp rounded" (click)="wspW()"><i class="fa-brands fa-whatsapp" style="margin-right: 2%;"></i> {{number}}</div>
        <!-- <div style="width: 80%;">
            <div class="linea" style="width: 100%;">
                <div class="col-3" style="width: 100%;">
                    <label class="textBlue" for="nomapel">Nombre y apellido </label><span class="msg">{{alertas[0]}}</span>
                    <input class="effect-1" type="text" placeholder="Nombre y apellido" [(ngModel)]="campos[0]">
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="linea" style="width: 100%;">
                <div class="col-3" style="width: 100%;">
                    <label class="textBlue" for="mail">E-Mail </label><span class="msg">{{alertas[1]}}</span>
                    <input class="effect-1" type="text" placeholder="E-Mail" [(ngModel)]="campos[1]">
                    <span class="focus-border"></span>
                </div>
            </div>
            <div class="linea" style="width: 100%;">
                <div class="col-3" style="margin-bottom: 2%; width: 100%;">
                    <label class="textBlue">Mensaje </label><span class="msg">{{alertas[2]}}</span>
                    <div style="display: flex;">
                        <textarea class="effect-1" style="width: 100%; height: 300px;" placeholder="Mensaje" [(ngModel)]="campos[2]"></textarea>
                        <span class="focus-border"></span>
                    </div>
                </div>
            </div>
            <div style="text-align: end; width: 100%;">
                <form #form="ngForm">
                    <button class="boton border rounded botones" (click)="send(form)">Enviar mensaje</button>
                </form>
            </div>
        </div> -->
    </div>
    </div>
</div>
