<div class="svh seccion">
    <div class="inicio foto">
        <p>
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Bienvenido a SALE Tu Auto.</span> <br>
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Cotizamos tu auto usado!!</span> <br>
            <span style="font-weight: 100;" class="textS">Vende al mejor precio y no te apresures. SALE Tu Auto te acerca la mejor cotización por tu vehículo.</span>
        </p>
    </div>
    <div class="shadow"></div>
    <div class="glass1" style="min-height: 90vh; width: 100%; display: flex; align-items: center;">
        <div class="margin5" style="width: 100%; text-align: center; display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="textRed titulo" style="font-weight: bold; text-transform: uppercase; font-size: xxx-large; margin-bottom: 5rem;">La empresa</div>
            <div style="display: flex; font-size: larger;" class="textWhite text">
                <div style="width: 33%; display: flex; flex-direction: column; justify-content: center; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;">
                        SALE Tu Auto es una empresa 100% Argentina que fue creada para asistir a dueños directos; a empresas con flota propia; 
                        a organismos Gubernamentales y al mercado asegurador. 
                        <br><br>
                        <span style="font-weight: bold;">El mejor precio para tu auto usado.</span>
                </div>
                <div style="width: 33%; display: flex; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;" class="borderL">
                    SALE Tu Auto llegó para aportar valor agregado mas todos los servicios asociados a la gestión de la venta.
                    <br><br>
                    SALE Tu Auto NO compra los autos ya que esta comprobado que esta acción disminuye el precio de la oferta por Tu Auto.
                </div>
                <div style="width: 33%; display: flex; flex-direction: column; align-items: center; padding-right: 1rem; padding-left: 1rem; height: 100%;" class="borderL">
                    SALE Tu Auto te acerca las mejores ofertas del mercado para que tomes una mejor decisión y obtengas más dinero por TU Auto.
                    <br>
                    En solo 2 pasos te acercamos un comprador directo y sin intermediarios.
                    <br>
                    1- Pásanos los datos de tu vehículo y 7 fotos.
                    <br>
                    2- Te acercamos la oferta y si aceptas gestionamos el ingreso del dinero en tu cuenta.    
                </div>
            </div>
        </div>
    </div>
    <app-contacto style="width: 100%;"></app-contacto>
</div>
