<div class="svh seccion">
    <div class="inicio foto">
        <p style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Bienvenido a SALE Tu Auto.</span>
            <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Encontra el Auto que buscas!</span>
            <!-- <span style="text-transform: uppercase; font-size: larger; font-family: shameimaru sans;">Cotizamos tu auto usado!!</span>
            <span style="font-weight: 100;" class="textS">Vende al mejor precio y no te apresures. SALE Tu Auto te acerca la mejor cotización por tu vehículo.</span> -->
            <span style="width: 100%; display: flex; justify-content: space-around;">
                <span class="triple" style="text-transform: uppercase; font-size: xx-large; font-family: shameimaru sans; width: 33%;">Compra o vende tu auto usado</span>
                <button class="boton border rounded botones triple triple2" style="font-size: xx-large; width: 16rem; height: 4rem;" (click)="vehiculos()">Quiero comprar!</button>
                <button class="boton border rounded botones triple triple2" style="font-size: xx-large; width: 16rem; height: 4rem;" routerLink="ventaRapida">Quiero vender!</button>
            </span>
        </p>
    </div>
    <div class="shadow"></div>
    <app-lista-autos style="width: 100%;" id="vehiculos"></app-lista-autos>
</div>
<div class="glass1">
    <app-contacto [color]="'textWhite'"></app-contacto>
</div>