<div class="svh borderAzul margins rounded" style="text-align: center;">
    <div style="width: 20%; border-right: 1px solid rgb(15, 52, 96, 0.2); padding-right: 2%; display: flex; flex-direction: column; align-items: flex-start;">
        <label>Marca: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <select class="effect-1" [(ngModel)]="marca" style="width: 100%; height: 2.5rem;" (change)="getModelos()">
                <option value='' selected>Todas</option>
                <ng-container *ngFor="let m of marcas">
                    <option  [ngValue]=m>{{m}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <label>Modelo: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <select class="effect-1" [(ngModel)]="modelo" style="width: 100%; height: 2.5rem;" disabled="{{modeloD}}" (change)="getVersiones()">
                <option value='' selected>Todos</option>
                <ng-container *ngFor="let m of modelos">
                    <option  [ngValue]=m>{{m}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <label>Version: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <select class="effect-1" [(ngModel)]="version" style="width: 100%; height: 2.5rem;" disabled="{{versionD}}" (change)="cargarAutos()">
                <option value='' selected>Todas</option>
                <ng-container *ngFor="let v of versiones">
                    <option  [ngValue]=v>{{v}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <label>Año: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <select class="effect-1" [(ngModel)]="ano" style="width: 100%; height: 2.5rem;" (change)="cargarAutos()">
                <option value='' selected>Todos</option>
                <ng-container *ngFor="let a of anos">
                    <option  [ngValue]=a>{{a}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <label>Kilometros: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                    <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorR" [max]="mayorR" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                    <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorR" [min]="menorR" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
            </div>
            <mat-slider min="{{menorKm}}" max="{{mayorKm}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                <input [(ngModel)]="menorR" matSliderStartThumb>
                <input [(ngModel)]="mayorR" matSliderEndThumb>
            </mat-slider>
            <span class="focus-border"></span>
        </div>
        <label>Precio: </label>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 100%;">
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                    <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorRP" [max]="mayorRP" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                    <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorRP" [min]="menorRP" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
            </div>
            <mat-slider min="{{menorP}}" max="{{mayorP}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                <input [(ngModel)]="menorRP" matSliderStartThumb>
                <input [(ngModel)]="mayorRP" matSliderEndThumb>
            </mat-slider>
            <span class="focus-border"></span>
        </div>
    </div>
    <div style="width: 80%; padding-left: 1%;">
        <h1 class="textRed" style="display: flex; margin-left: 2%; text-decoration: underline;">Autos disponibles:</h1>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="rounded border carta" *ngFor="let a of Autos">
                <div style="height: 50%; border-bottom: 1px solid rgb(233, 69, 96, 0.2);">
                    <img src="{{a['img']['foto']}}" alt="" style="max-width:100%; max-height:100%;">
                </div>
                <div style="height: 50%; display: flex; flex-direction: column; flex-wrap: wrap; align-content: 
                flex-start; align-items: flex-start; justify-content: space-around; margin-left: 4%;">
                    <span class="cartaT1">{{a['marca']}} | {{a['modelo']}} | {{a['version']}}</span>
                    <span class="cartaT2">$ {{a['precio']}}</span>
                    <span class="cartaT3">{{a['ano']}} | {{a['kms']}} KM</span>
                </div>
            </div>
        </div>
        <div style="font-family: Avenir; margin-top: 2%; display: flex; justify-content: flex-end; width: 100%; align-items: center; font-size: large;">
            Pagina {{pagina+1}} de {{pagU}}
            <div style="margin-right: 2%; margin-left: 2%;">
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0;" (click)="principio()">Principio</button>
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="atras()">Atras</button>
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="siguiente()">Siguiente</button>    
                <button class="border rounded boton paginacion" style="font-size: large; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="final()">Final</button>
            </div>
            Autos totales: {{total}}
        </div>
    </div>
</div>