<div class="textRed titulo" style="font-weight: bold; text-transform: uppercase; font-size: xxx-large; margin-bottom: 5rem; display: flex; justify-content: center; margin-top: 5rem;">Vehículos</div>
<div class="svh borderAzul margins rounded pagRes" style="text-align: center; flex-direction: column; justify-content: flex-start;">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="filtro glass2 textWhite">
            <mat-panel-title>
                <i class="fa-solid fa-bars textWhite" style="padding-right: 2%; cursor: pointer;"></i>
                <span class="textWhite" style="cursor: pointer; margin-right: 2rem;">Filtrar</span>         
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="glassTrue" style="display: flex; flex-direction: column; align-items: center;">
            <label style="text-decoration: underline; margin-top: 2%;">Marca: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <select class="effect-1" [(ngModel)]="marca" style="width: 100%; height: 2.5rem;" (change)="getModelos()">
                    <option value='' selected>Todas</option>
                    <ng-container *ngFor="let m of marcas">
                        <option  [ngValue]=m>{{m}}</option>    
                    </ng-container>
                </select>
                <span class="focus-border"></span>
            </div>
            <label style="text-decoration: underline;">Modelo: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <select class="effect-1" [(ngModel)]="modelo" style="width: 100%; height: 2.5rem;" disabled="{{modeloD}}" (change)="getVersiones()">
                    <option value='' selected>Todos</option>
                    <ng-container *ngFor="let m of modelos">
                        <option  [ngValue]=m>{{m}}</option>    
                    </ng-container>
                </select>
                <span class="focus-border"></span>
            </div>
            <label style="text-decoration: underline;">Version: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <select class="effect-1" [(ngModel)]="version" style="width: 100%; height: 2.5rem;" disabled="{{versionD}}" (change)="cargarAutos()">
                    <option value='' selected>Todas</option>
                    <ng-container *ngFor="let v of versiones">
                        <option  [ngValue]=v>{{v}}</option>    
                    </ng-container>
                </select>
                <span class="focus-border"></span>
            </div>
            <label style="text-decoration: underline;">Año: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <select class="effect-1" [(ngModel)]="ano" style="width: 100%; height: 2.5rem;" (change)="cargarAutos()">
                    <option value='' selected>Todos</option>
                    <ng-container *ngFor="let a of anos">
                        <option  [ngValue]=a>{{a}}</option>    
                    </ng-container>
                </select>
                <span class="focus-border"></span>
            </div>
            <label style="text-decoration: underline;">Kilometros: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column; margin-right: 2%;">
                        <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                        <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorR" [max]="mayorR" (change)="cargarAutos()">
                        <span class="focus-border" style="position: relative !important;"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-right: 2%;">
                        <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                        <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorR" [min]="menorR" (change)="cargarAutos()">
                        <span class="focus-border" style="position: relative !important;"></span>
                    </div>
                </div>
                <mat-slider min="{{menorKm}}" max="{{mayorKm}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                    <input [(ngModel)]="menorR" matSliderStartThumb>
                    <input [(ngModel)]="mayorR" matSliderEndThumb>
                </mat-slider>
                <span class="focus-border"></span>
            </div>
            <label style="text-decoration: underline;">Precio: </label>
            <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 60%;">
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column; margin-right: 2%;">
                        <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                        <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorRP" [max]="mayorRP" (change)="cargarAutos()">
                        <span class="focus-border" style="position: relative !important;"></span>
                    </div>
                    <div style="display: flex; flex-direction: column; margin-right: 2%;">
                        <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                        <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorRP" [min]="menorRP" (change)="cargarAutos()">
                        <span class="focus-border" style="position: relative !important;"></span>
                    </div>
                </div>
                <mat-slider min="{{menorP}}" max="{{mayorP}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                    <input [(ngModel)]="menorRP" matSliderStartThumb>
                    <input [(ngModel)]="mayorRP" matSliderEndThumb>
                </mat-slider>
                <span class="focus-border"></span>
            </div>
            <div style="display: flex; flex-direction: column; margin-right: 2%; width: 60%; margin-bottom: 2%;">
                <div style="display: flex; flex-direction: row;"><label style="text-decoration: underline;">Ubicacion: </label></div>
                <input class="effect-1" style="width: 100%;" type="text" placeholder="Ubicacion" style="height: 2.5rem;" [(ngModel)]="ubicacion" (change)="cargarAutos()">
                <span class="focus-border" style="position: relative !important;"></span>
            </div>
        </div>
    </mat-expansion-panel>
    <div class="filtroRes" style="width: 100%; border-bottom: 1px solid rgb(15, 52, 96, 0.2); padding-right: 2%; display: flex; align-items: flex-start; flex-wrap: wrap; justify-content: space-evenly;">
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 10rem;">
            <label class="textRed" style="text-decoration: underline;">Marca: </label>
            <select class="effect-1" [(ngModel)]="marca" style="width: 100%; height: 2.5rem;" (change)="getModelos()">
                <option value='' selected>Todas</option>
                <ng-container *ngFor="let m of marcas">
                    <option  [ngValue]=m>{{m}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 10rem;">
            <label class="textRed" style="text-decoration: underline;">Modelo: </label>
            <select class="effect-1" [(ngModel)]="modelo" style="width: 100%; height: 2.5rem;" disabled="{{modeloD}}" (change)="getVersiones()">
                <option value='' selected>Todos</option>
                <ng-container *ngFor="let m of modelos">
                    <option  [ngValue]=m>{{m}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 10rem;">
            <label class="textRed" style="text-decoration: underline;">Version: </label>
            <select class="effect-1" [(ngModel)]="version" style="width: 100%; height: 2.5rem;" disabled="{{versionD}}" (change)="cargarAutos()">
                <option value='' selected>Todas</option>
                <ng-container *ngFor="let v of versiones">
                    <option  [ngValue]=v>{{v}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 10rem;">
            <label class="textRed" style="text-decoration: underline;">Año: </label>
            <select class="effect-1" [(ngModel)]="ano" style="width: 100%; height: 2.5rem;" (change)="cargarAutos()">
                <option value='' selected>Todos</option>
                <ng-container *ngFor="let a of anos">
                    <option  [ngValue]=a>{{a}}</option>    
                </ng-container>
            </select>
            <span class="focus-border"></span>
        </div>
        <div style="display: flex; flex-direction: column; margin-right: 2%;">
            <div style="display: flex; flex-direction: row;"><label class="textRed" style="text-decoration: underline;">Ubicacion: </label></div>
            <input class="effect-1" style="width: 100%;" type="text" placeholder="Ubicacion" style="height: 2.5rem;" [(ngModel)]="ubicacion" (change)="cargarAutos()">
            <span class="focus-border" style="position: relative !important;"></span>
        </div>
        <div style="display: flex;">
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 15rem; margin-right: 2%;">
            <label class="textRed" style="text-decoration: underline;">Kilometros: </label>
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                    <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorR" [max]="mayorR" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                    <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorR" [min]="menorR" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
            </div>
            <mat-slider min="{{menorKm}}" max="{{mayorKm}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                <input [(ngModel)]="menorR" matSliderStartThumb>
                <input [(ngModel)]="mayorR" matSliderEndThumb>
            </mat-slider>
            <span class="focus-border"></span>
        </div>
        <div class="col-3" style="display: flex; flex-direction: column; margin-bottom: 2%; width: 15rem;">
            <label class="textRed" style="text-decoration: underline;">Precio: </label>
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Menor: </label></div>
                    <input class="effect-1" type="number" placeholder="Menor" style="height: 2.5rem;" [(ngModel)]="menorRP" [max]="mayorRP" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 2%;">
                    <div style="display: flex; flex-direction: row;"><label>Mayor: </label></div>
                    <input class="effect-1" type="number" placeholder="Mayor" style="height: 2.5rem;" [(ngModel)]="mayorRP" [min]="menorRP" (change)="cargarAutos()">
                    <span class="focus-border" style="position: relative !important;"></span>
                </div>
            </div>
            <mat-slider min="{{menorP}}" max="{{mayorP}}" step="500" [displayWith]="formatLabel" (change)="cargarAutos()">
                <input [(ngModel)]="menorRP" matSliderStartThumb>
                <input [(ngModel)]="mayorRP" matSliderEndThumb>
            </mat-slider>
            <span class="focus-border"></span>
        </div>
        </div>
    </div>
    <div class="listaRes">
        <h1 class="textRed" style="display: flex; margin-left: 2%; text-decoration: underline;">Autos disponibles:</h1>
        <div style="display: flex; flex-wrap: wrap; justify-content: center;">
            <div class="rounded carta cartaHover glass2" *ngFor="let a of Autos" routerLink="autos/{{a['uuid']}}">
                <div style="height: 50%; 
                /* border-bottom: 1px solid rgb(233, 69, 96, 0.2);   */
                background-repeat: no-repeat;
                background-size: cover; max-width:100%; max-height:100%; border-top-left-radius: 12px; border-top-right-radius: 12px;" 
                [ngStyle]="{'background-image': 'url(' + a['img']['foto'] + ')'}">
                <div *ngIf="a['estado']=='Reservado'" style="background-color: steelblue; color: aliceblue; border-top-left-radius: 12px; border-top-right-radius: 12px;">{{a['estado']}}</div>
                <div *ngIf="a['estado']=='Vendido'" style="background-color:limegreen; color: aliceblue; border-top-left-radius: 12px; border-top-right-radius: 12px;">{{a['estado']}}</div>
                    <!-- <img src="{{a['img']['foto']}}" alt="" style="max-width:100%; max-height:100%; border-top-left-radius: 12px; border-top-right-radius: 12px;"> -->
                </div>
                <div style="height: 35%; display: flex; flex-direction: column; flex-wrap: wrap; align-content: 
                flex-start; align-items: flex-start; justify-content: space-around; margin-left: 4%;">
                    <span class="cartaT1 textBlue2">{{a['marca']}} | {{a['modelo']}} | {{a['version']}}</span>
                    <span class="cartaT3 textWhite">{{a['traccion']}}  | {{a['ano']}} | {{a['kms']}} KM</span>
                    <span class="cartaT3 textWhite">{{a['ubicacion']}}</span>
                </div>
                <div class="cartaT2 glass" style="display: flex; height: 15%; align-items: center; justify-content: center;
                border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;">{{a['moneda']+' $ '+a['precio']}}</div>
            </div>
        </div>
        <div class="paginacionRes" style="font-family: Avenir; margin-top: 2%; display: flex; justify-content: flex-end; width: 100%; align-items: center; font-size: large;">
            Pagina {{pagina+1}} de {{pagU}}
            <div style="margin-right: 2%; margin-left: 2%;">
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0;" (click)="principio()">Principio</button>
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="atras()">Atras</button>
                <button class="border rounded boton paginacion" style="font-size: large; border-top-right-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="siguiente()">Siguiente</button>    
                <button class="border rounded boton paginacion" style="font-size: large; border-top-left-radius: 0; border-bottom-left-radius: 0;" (click)="final()">Final</button>
            </div>
            Autos totales: {{total}}
        </div>
    </div>
</div>